extends ../home 
 
block content 
        section.form.my-4.mx-5
            .container
                .row.no-gutters
                    .col-lg-5
                        img.img-fluid(src="images/home-image.jpg",  alt="") 
                    .col-lg-7.px-10.pt-2
                        h1.font-weight-bold.py3.mx-3 Employee | Sign In
                        form(action="/user/login", method="post" id="form") 
                            .form-row
                                .col-lg-7
                                input.form-control.m-3.m-4(type="text", placeholder="User Name")
                            .form-row
                                .col-lg-7
                                input.form-control.m-3.m-4(type="password", placeholder="*********")
                            .form-row
                                .col-lg-7
                                    a.m-3.m-4(href="/employee", class="btn  btn-success btn-submit ") <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In 
                                     a(href="/sign-up-employee", class="link") Did't Have Account? Click Here !!
